.activ {
  padding-bottom: 94px;
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.activ-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-text-color);
}

.activ-list {
  display: flex;
  justify-content: space-between;
}

.activ-list-item {
  position: relative;
}

.activ-item-title {
  position: absolute;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0%;
  color: #ffffff;
  width: 100%;
  height: 70px;
  @include flex(center, center);

  background: rgba(47, 48, 58, 0.8);
}
