.logo-left-part {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.logo-right-part-header {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.header {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.contacts {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.navigation-list-item,
.address {
  margin-right: 50px;
}

.navigation-list-item,
.address {
  &:last-child {
    margin-right: 0;
  }
}

.navigation-list-link {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link.current {
  color: var(--accent-text-color);
  position: relative;
}

.navigation-list-link {
  &.current {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0%;
      background: #2196f3;
      border-radius: 2px;
    }
  }
}

.navigation-list-link,
.header-mail-link,
.header-tel-link {
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.header-mail-link,
.header-tel-link {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
