.hero {
  max-width: 1600px;
  padding: 118px 0;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.hero-title {
  font-family: var(--main-font-family);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 100%;
  margin: 0 auto 30px;

  color: var(--reserve-text-color);

  @media screen and (min-width: 480px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
