.portfolio-navigation-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-navigation-item {
  margin-right: 8px;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    margin-bottom: unset;
  }
}

/*gallery*/

.projects-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.projects-item-card {
  background: var(--reserve-text-color);
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 354px;
    &:not(:last-child) {
      margin-bottom: unset;
    }
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.card-link {
  display: inline-block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link {
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-head {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;

  color: var(--main-text-color);
}

.card-text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.card-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-top {
  position: relative;
  overflow: hidden;
}

.card-blue-text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  height: 100%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link {
  &:hover,
  &:focus {
    .card-blue-text {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
